body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e2127;
    overflow: hidden;
    position: relative;
}

#game-container {
    position: relative;
    width: 80%;
    height: 300px;
    border: 2px solid #fff;
    background: url('img/background.jpg') no-repeat center center;
    background-size: cover;
    background-position: center 50%;
    
}

.zone {
    position: absolute;
    bottom: 0;
    height: 30px;
}

.green-zone {
    background-image: url('img/redfloor.jpg');
    
}

.red-zone {
    background-image: url('img/grass.jpg');
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.shape {
    position: absolute;
    background-image: url('img/bluecube.png');
}

#score, #best-record {
    position: absolute;
    top: -50px;
    color: white;
    font-size: 18px;
    font-family: 'Press Start 2P', cursive; 

}

#best-record {
    top: -80px;
}